div.item.base {
    width: 400px;
    height: 300px;
}

dive.item.base img {
    width: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: blue;
}